.App {
  text-align: center;
}

.menu{
  position: fixed;
  padding: 2vh;
  text-decoration: none;
  color: black;
}
.menu-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  line-height: 20vh;
  font-size: 7em;
}
.menu-item{
  text-decoration: none;
  color: black;
}